.header{
    background-color: rgb(78,160,255);
    text-align: center;
    height: 80px;
}

.pattern{
    height: 80px;
    width: 800px;;
}

.logo{
    height: 40px;
    float: left;
}

.sotto-titolo{
    color: rgb(131, 131, 131)
}

.descrizione-immagine{
    font-size:smaller;
}

.fine-paragrafo{
    color: dimgrey;
}

.giallo{
    background-color: yellow;
}

.monitor{
    
    background-image: url("img/monitor.jpg");
    height: 300px;
    width: 400px;
    background-size: cover;
}


.graph{
    background-image: url("img/graph.jpg");
    height: 300px;
    width: 400px;
    background-size: cover;
}

#blu{
    color: rgb(78,160,255);
}

table{
    border-color: black;
}

h3{
    color: white;
    font-size: x-large;
    padding-left: 20px;
    padding-top: 20px;
}

