.header{
    background-color: rgb(78,160,255);
    text-align: center;
    height: 80px;
}

.pattern{
    height: 80px;
}

.logo{
    height: 40px;
    float: left;
    padding-top: 30px;
    padding-left: 50px;
}

.corpo-centrale{
    text-align: justify;
    padding-left: 80px;
    padding-right: 180px;
    
}

footer{
    text-align: justify;
    padding-left: 80px;
    padding-right: 180px;
}

.sotto-titolo{
    color: rgb(131, 131, 131)
}

.descrizione-immagine{
    font-size:smaller;
}

.fine-paragrafo{
    color: dimgrey;
}

span{
    background-color: yellow;
}